<div class="modal-header">
    <h3 class="modal-title">
        {{ item.title }}
    </h3>
</div>
<div class="modal-body">
    <form name="ListEditForm">
        <div class="form-group" ng-repeat="field in currentQwiklyPage.edit.fields">
            <label>{{ field.title }}</label>
            <qwikly-field ng-model="item[field.key]" field-kind="field.kind"></qwikly-field>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">{{ 'cancel' | translate }}</button>
    <button class="btn btn-success" ng-click="save()" ng-disabled="ListEditForm.$invalid">{{ 'save' | translate }}</button>
</div>