<div class="jumbotron">
    <h1>Welcome {{ currentUser.full_name }}</h1>

    <p>Maecenas sit amet odio interdum, hendrerit ex eu, lobortis ipsum. Ut lacinia dignissim finibus. Etiam pharetra eu magna sit amet cursus. Morbi eleifend ullamcorper congue. Nunc cursus molestie congue. Vestibulum orci massa, mollis eget bibendum sit amet, posuere sit amet felis. Donec a nulla vel augue convallis porta.</p>

    <p>
        <a class="btn btn-lg btn-primary" href="#" role="button">Go do some stuff »</a>
    </p>
</div>